.button {
   color: #000;
   min-width: 215px;
   padding: 20px;
   text-align: center;
   background-color: $mainColor;
   border: 1px solid transparent;
   border-radius: 5px;
   font-weight: 800;
   transition: 0.3s ease 0s;
   cursor: pointer;
   &:hover {
      color: $mainColor;
      background-color: #000;
      border-color: $mainColor;
   }
   &_blue {
      background-color: #5BBFC8;
      &:hover {
         color: #5BBFC8;
         background-color: #000;
         border-color: #5BBFC8;
      }
   }
   &_black {
      color: #fff;
      background-color: #000;
      &:hover {
         color: #000;
         background-color: #fff;
      }
   }
   &_tire {
      min-width: 250px;
      text-align: left;
      position: relative;
      &::after {
         content: '';
         position: absolute;
         width: 33px;
         height: 33px;
         right: 14px;
         top: 14px;
         background-image: url(../../../images/dist/tire.svg);
      }
   }
}