%inline-type {
   display: inline-block;
   *display: inline;
   *zoom: 1;
   margin-right: -4px;
   vertical-align: top;
 }

%title-font {
   font-weight: 800;
   font-size: 45px;
   line-height: 55px;
   text-transform: uppercase;
}
