
.partners {
   &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 200px;
   }
   &__title {
      @extend %title-font;
      margin-bottom: 70px;
   }
   &__body {
      width: 100%;
      display: flex;
      flex-direction: column;
   }
   &__swiper {
      display: flex;
   }
   &__item {
      width: 202px;
      height: 175px;
      background-color: #fff;
      margin: 6px;
      border: 2px solid rgba(73, 104, 129, 0.1);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__buttons {
      margin-top: 5px;
      align-self: flex-end;
      position: relative;
      width: 85px;
      height: 33px;
   }
   &__button-prev {
      border-radius: 30px;
      margin-right: 5px;
      background-color: #fff;
      width: 32px;
      height: 32px;
      position: absolute;
      right: 20px;
      color: $textcolor;
      &::after {
       content: '';
       width: 32px;
      height: 32px;
      background-image: url(../../../images/dist/partners/arrow-left.svg);
      background-position: center;
      background-repeat: no-repeat;
      }
   }
   &__button-next {
      border-radius: 30px;
      background-color: #fff;
      width: 32px;
      height: 32px;
      color: $textcolor;
      position: absolute;
      right: 0;
      &::after {
         content: '';
         width: 32px;
        height: 32px;
        background-image: url(../../../images/dist/partners/arrow-right.svg);
        background-position: center;
        background-repeat: no-repeat;
        }
   } 
}